asgiref==3.4.1
backports.entry-points-selectable==1.1.0
cffi==1.14.6
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
distlib==0.3.2
fastapi==0.68.0
filelock==3.0.12
greenlet==1.1.1
h11==0.12.0
platformdirs==2.0.2
pycparser==2.20
pydantic==1.8.2
PyJWT==2.1.0
six==1.16.0
SQLAlchemy==1.4.23
starlette==0.14.2
typing-extensions==3.10.0.0
uvicorn==0.15.0
virtualenv==20.6.0
